@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .pokecard {
        @apply bg-white rounded-2xl drop-shadow-lg bg-[url('@/assets/img/pokeballcolor.svg')] bg-no-repeat;
        background-size: 62%;
        background-position-x: -83px;
        &:hover {
            @apply drop-shadow-2xl ease-in duration-300;
        }
    }
    .tag {
        @apply inline-flex items-center font-bold uppercase px-3 py-1 rounded-full;
    }
    .btn {
        @apply rounded-full py-2 px-5 uppercase font-light;
        &:hover {
            @apply scale-105 ease-in duration-200;
        }
    }
    .btn-cta {
        background: linear-gradient(90deg,#9fdea2,#28cba3);
        color: white;
    }
    .bg-pokeball {
        @apply bg-[url('@/assets/img/pokeball.svg')] bg-contain bg-no-repeat bg-center;
    }
    
    .modal-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        background-color: #000000da;
      }
      .modal {
        text-align: center;
        background-color: white;
        height: 500px;
        width: 380px;
        margin-top: 10%;
        border-radius: 20px;
      }
      
      
      .modal-fade-enter,
      .modal-fade-leave-to {
        opacity: 0;
      }
      .modal-fade-enter-active,
      .modal-fade-leave-active {
        transition: opacity 0.5s ease;
      }

}